/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/* Reset End */

:root {
    --ff: "Geist", sans-serif;
    --h1: 700 2.5rem / 1.5em var(--ff);
    --h2: 600 1.5rem / 1.4em var(--ff);
    --h3: 600 1.125rem / 1.4em var(--ff);
    --h4: 600 1rem / 1.6em var(--ff);
    --p: 400 1rem / 1.6em var(--ff);
    --small: 400 0.75rem / 1.8em var(--ff);
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /*--bg-dark: #000;
    --bg: #101010;
    --bg-light: #171717;
    --bg-extra-light: #303030;*/

    --background-color: #101010;
    --outline: #4c4c50;
    --text-color: #ffffff;
    --text-subdued: #9e9e9e;
    --black: #313131;
    --red: #b85551;
    --green: #8f9a52;
    --yellow: #d8a658;
    --blue: #76b7d7;
    --magenta: #987cdc;
    --cyan: #aee8f4;
    --white: #c0caf5;
    --gray: #a0a0a0;

    --gradient: linear-gradient(0deg, var(--bg) 57%, var(--bg-light));
    --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-extra-light));
    --highlight: oklch(0.5 0.02 74);
    --border: oklch(0.4 0.02 74);
    --border-muted: oklch(0.3 0.02 74);
    --border-card: solid 1px var(--border-muted);
    --primary: oklch(0.76 0.1 74);
    --secondary: oklch(0.76 0.1 254);
    --shadow: 0px 2px 2px oklch(0 0 0 / 0.2), 0px 4px 4px oklch(0 0 0 / 0.1);
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #101010;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    height: 83vh;
    width: 83vw;
    background-color: var(--background-color);
    padding-top: 2.2rem;
    border-radius: 1rem;
    border: 1px solid var(--outline);
    h1 {
        font: var(--h1);
    }
    h2 {
        font: var(--h2);
        color: var(--text-subdued);
    }
}

.partition {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 17px;
    margin-top: 17px;
    > .parallelogram {
        width: 75px;
        height: 25px;
        transform: skew(-20deg);
        &.red {
            background-color: var(--red);
        }
        &.green {
            background-color: var(--green);
        }
        &.yellow {
            background-color: var(--yellow);
        }
        &.blue {
            background-color: var(--blue);
        }
        &.magenta {
            background-color: var(--magenta);
        }
        &.cyan {
            background-color: var(--cyan);
        }
    }
}
